.layout-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    transition: margin-left var(--layout-section-transition-duration);
}

.layout-main {
    flex: 1 1 auto;
}

img {
    max-width: none !important;
}
